$ const markoGlobal = out.global;
$ const entries = markoGlobal.__rollupEntries || (markoGlobal.__rollupEntries = []);
$ let writtenEntries = 0;
<__flush_here_and_after__>
  $ const lastWrittenEntry = writtenEntries;
  $ writtenEntries = entries.length;
  <for|i| from=lastWrittenEntry to=(writtenEntries - 1)>
    <${input.renderBody}(entries[i], ...__MARKO_MANIFEST__)/>
  </>
</>
